<!-- <div id="divisor-img"></div> -->

<footer>
    <div class="contenedor-footer">
        
        <div id="footer-links">
            <p><a href="/">Portada</a></p> |
            <p><a href="/mapa-cv">Mapa</a></p> |
            <p><a href="/contacto">Contacto</a></p>
        </div>

        <div id="footer-info">
            <p><a href="https://parquesnaturales.gva.es/es/">Parques Naturales de la Comunidad Valenciana</a></p>
            <p><a href="https://valencia.opendatasoft.com/pages/home/">Datos Abiertos Ayuntamiento de Valencia</a></p>
            <p><a href="https://www.gva.es/va/inicio/presentacion">Generalitat Valenciana</a></p>
        </div>

        <div id="footer-rrss">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <a href="https://github.com/MarinCan"><i class="fa-brands fa-github"></i></a>
            <i class="fa-brands fa-instagram"></i>
        </div>

        <!-- <a target="_blank" href="https://icons8.com/icon/46695/cerca-de-m%C3%AD">Cerca de mí</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->

    </div>
</footer>