<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn"><i class="fa-solid fa-bars"></i></label>
    
    <div class="caja-logo">        
        <a href="/">
            <div id="logo">
                <img id="img-icono" src="/images/icono.png" alt="">
                <h3 id="logo-titulo">Rutas CV</h3>
            </div>
        </a>        
    </div>
    <ul id="ul-nav">
        <li class="li_nav"><a href="/lista">Lista Rutas</a></li>
        <li class="li_nav"><a href="/mapa-cv">Mapa CV</a></li>
    </ul>
</nav>