<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('partials/head.ejs') %>

    <title>Contacto</title>
    <link rel="stylesheet" href="/stylesheets/contacto.css">

</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <section id="fondo-contacto">
        <section id="ppal-contacto">
            <h1 id="titulo-contacto">Contacto</h1>
        
            <p>Si tienes alguna duda, no dudes en ponerte en contacto con nosotros.</p>

            <form action="/contacto" method="post" id="formulario-contacto">
                <div class="linea-form">
                    <div class="dato-form2">
                        <label for="nombre">* Nombre:</label>
                        <input type="text" name="nombre" placeholder="Nombre" class="dato-input" required>
                    </div>
                    <div class="dato-form2">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" name="apellidos" placeholder="Apellidos" class="dato-input">
                    </div>
                </div>
                <div class="dato-form">
                    <label for="email">* Email:</label>
                    <input type="email" name="email" placeholder="Email" class="dato-input"required>
                </div>
                <div class="dato-form">
                    <label for="mensaje">* Mensaje:</label>
                    <textarea name="mensaje" class="dato-input" placeholder="Escribe tu mensaje" cols="40" rows="5" required></textarea>
                </div>
                
                <div class="dato-form3">
                    <% if (aviso.length == 0) { %>
                        <input type="submit" id="boton" value="Enviar" required>
                    <% } else { %>
                        <p id="texto-aviso"> <%= aviso %> <br>Te responderemos lo antes posible.</p>
                    <% } %>
                </div>
            </form>
        </section>
    </section>

    <%- include('partials/footer.ejs') %>
</body>
</html>