<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <!-- CSS files -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/footer.css'>
    <link rel="stylesheet" href='/stylesheets/navbar.css'>
    <link rel="stylesheet" href="/stylesheets/contacto.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <section id="fondo-contacto">
        <section id="ppal-contacto">
            <h1 id="titulo-contacto">Contacto</h1>
        
            <p>Si tienes alguna duda, no dudes en ponerte en contacto con nosotros.</p>
            <!-- <p>Te responderemos con la mayor brevedad posible.</p> -->

            <form action="/contacto" method="post" id="formulario-contacto">
                <div class="linea-form">
                    <div class="dato-form2">
                        <label for="nombre">* Nombre:</label>
                        <input type="text" name="nombre" placeholder="Nombre" class="dato-input" required>
                    </div>
                    <div class="dato-form2">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" name="apellidos" placeholder="Apellidos" class="dato-input">
                    </div>
                </div>
                <div class="dato-form">
                    <label for="email">* Email:</label>
                    <input type="email" name="email" placeholder="Email" class="dato-input"required>
                </div>
                <div class="dato-form">
                    <label for="mensaje">* Mensaje:</label>
                    <textarea name="mensaje" class="dato-input" placeholder="Escribe tu mensaje" cols="40" rows="5" required></textarea>
                </div>
                
                <div class="dato-form3">
                    <% if (aviso.length == 0) { %>
                        <input type="submit" id="boton" value="Enviar" required>
                    <% } else { %>
                        <p id="texto-aviso"> <%= aviso %> <br>Te responderemos lo antes posible.</p>
                    <% } %>
                </div>
            </form>
        </section>
    </section>

    <%- include('partials/footer.ejs') %>
</body>
</html>