<!DOCTYPE html>
<html>

  <head>
    <%- include('partials/head.ejs') %>
    
    <title>Rutas CV</title>

  </head>

  <body>
    <%- include('partials/navbar.ejs') %>

    <div id="img-cabecera">
      <div id="cont-poema">
        <p id="poema">Caminante, son tus huellas <br> el camino y nada más</p>
        <p id="autor">- A. Machado</p>
      </div>
    </div>


    <section id="ppal-portada">

      <div id="portada-contenido">
        <h1 id="titulo-portada">Rutas senderistas de la Comunidad Valenciana</h1>
        <h3 id="subtitulo-portada">Descubre la comunidad de la forma más natural</h3>

        <!-- Pastilla lista  -->
        <div class="portada-lista">
          
          <div class="img-info" id="img-lista-info"></div>

          <div class="lista-info">
            <h3 class="cont-titulo">Listado de rutas senderistas</h3>
            <p>Accede a la lista de las rutas senderistas de distintos parques naturales de la Comunidad Valenciana. Aquí podrás encontrar toda la información que necesites: el nombre de la ruta, su localización, dificultad y duración aproximada entre otras muchas cosas. Desde aquí tendrás acceso a:</p>
            <ul class="lista-ul">
              <li class="lista-li">Lista completa de todas las rutas.</li>
              <li class="lista-li">Filtrado por distintos parámetros.</li>
              <li class="lista-li">Información general de cada ruta senderista.</li>
              <li class="lista-li">Acceso al portal de cada una de las rutas, donde podrás acceder a toda la información sobre ella.</li>
            </ul>
            <a href="/lista" class="boton-lista">Ir a la lista</a>
          </div>

        </div>

        <!-- Pastilla mapa  -->
        <div class="portada-lista">

          <div class="img-info" id="img-mapa-info"></div>

          <div class="lista-info">
            <h3 class="cont-titulo">Localización de las rutas senderistas</h3>
            <p>Mapa general de la Comunidad Valenciana donde aparecen la localización de los distintos parques naturales de la comunidad. Al seleccionar algún parque, aparecerá la información básica de las rutas que se encuentren allí. Desde aquí podrás:</p>
            <ul class="lista-ul">
              <li class="lista-li">Seleccionar el parque natural que desees.</li>
              <li class="lista-li">Acceso a la información general de cada ruta senderista.</li>
              <li class="lista-li">Acceso al portal de cada una de las rutas, donde podrás acceder a toda la información sobre ella.</li>
            </ul>
            <a href="/mapa-cv" class="boton-lista">Ir al mapa</a>
          </div>

        </div>

      </div>
      

    </section>

    <%- include('partials/img-footer.ejs') %>
    <%- include('partials/footer.ejs') %>

  </body>
</html>
