#ppal-ruta{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulos-ruta{
    height: 6rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}

#mapa-info{
    margin-top: 1rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#map{
    height: 70vh; 
    width: 65%; 
    border: 1px solid;
    z-index: 1;
}

#info-ruta{
    width: 35%;
    height: 70vh; 
    padding-left: 2rem;
}

#info-weather{
    margin-bottom: 2vh;
    height: 15vh;
    display: flex;
    background-color: #f3f5f5;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(148, 148, 148);
}

#div-tiempo-actual{
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

#tiempo-actual2{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#icono_hoy2, #temp_hoy2{
    font-size: 24px;
    color: rgb(75, 74, 75);
}

#div-pronostico{
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#boton_tiempo{
    margin-top: .5rem;
    background-color: #c9e5fa;
    padding: .8rem;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgb(148, 148, 148);
    cursor: pointer;
}
#boton_tiempo:hover{
    transform: scale(1.05);
    transition: .2s;
}

#tabla-ruta{
    width: 100%;
    height: 53vh;
    border: 1px solid rgb(224, 224, 224);
    border-collapse: collapse;
    box-shadow: 2px 2px 2px rgb(148, 148, 148);
}

.row-ruta{
    border: 1px solid rgb(224, 224, 224);
}

.data-ruta{
    /* border: 1px solid rgb(85, 122, 134); */
    padding: 1rem;
}

.img-foto{
    height: 10rem;
    margin: 0 .5rem;
    cursor: pointer;
}

#fotos-botones{
    height: 11rem;
    width: 80%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotos{
    width: 65%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#botones-votos{
    width: 35%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}

#botones{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.botones-ruta{
    width: 10rem;
    background-color: #c9e5fa;
    padding: .8rem;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgb(148, 148, 148);
    cursor: pointer;
}

.botones-ruta:hover{
    transform: scale(1.05);
    transition: .2s;
}

#i-descarga{
    margin-right: 15px;
    font-size: 18px;
    color: rgb(75, 74, 75);
}

#div-votos{
    height: 7rem;
    width: 100%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#i-votoUp, #i-votoDown{
    font-size: 26px;
    /* color: rgb(75, 74, 75); */
}

#i-votoUp{
    color: #618d33;
}
#i-votoDown{
    color: rgb(163, 89, 36);
}

#votos{
    height: 3rem;
    margin-top: .3rem;
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#comentarios-ruta{
    width: 80%;
    min-height: 100vh;
    margin: 2rem 0;
    /* border: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
}

#form-completo{
    width: 100%;
    height: 24rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formulario-comentario{
    border: 1px solid;
    margin-top: 1rem;
    width: 75%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(148, 148, 148);
}

#input-nombre{
    width: 50%
}

.linea-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.dato-comentario{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0.5rem 0;
}

.dato-comentario2{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

label{
    margin-bottom: .2rem;
}

textarea{
    resize: none;
}

.dato-input{
    padding: .6rem .8rem;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}

#boton-comentar{
    width: 7rem;
    padding: .8rem 1rem;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

#lista-comentarios{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comentario-usuario{
    width: 75%;
    border-style: none none solid none;
    border-width: 1px;
    border-color: lightgray;
    padding: 1rem;
}

.cab-comentario{
    margin-bottom: .5rem;
}


@media only screen and (max-width: 768px){

    #mapa-info{
        width: 90%;
        flex-direction: column;
        justify-content: center;
    }

    #map{
        height: 65vh; 
        width: 100%;
    }

    #info-ruta{
        width: 100%;
        padding-left: 0;
        margin-top: 1rem;
    }

    #fotos-botones{
        height: 35vh;
        width: 90%;
        flex-direction: column;
    }

    #fotos{
        width: 100%; 
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .img-foto{
        width: 31%;
        height: 12vh;
        margin: 0;
        object-fit: cover;
    }

    #botones-votos{
        width: 100%;
        padding-left: 0;
    }

    #comentarios-ruta{
        width: 90%;
        min-height: 60vh;
        margin: 0;
    }

    #formulario-comentario{
        width: 100%;
    }

    #input-nombre{
        width: 100%
    }

    .comentario-usuario{
        width: 100%;
    }
    
}