*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

#img-cabecera{
  height: 30rem;
  background: url('/images/fondo-cab.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

#cont-poema{ 
  margin-left: 5rem;
}

#poema{
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: 'Cormorant Garamond', serif;
}

#autor{
  color: white;
  text-align: right;
  font-size: 24px;
  font-family: 'Cormorant Garamond', serif;
  padding-top: .3rem;
}

#ppal-portada{
  display: flex;
  justify-content: center;
}

#portada-contenido{
  width: 60%;
  margin-top: 3rem;
}

#titulo-portada{
  font-size: 28px;
  margin-bottom: .5rem;
}

#subtitulo-portada{
  font-weight: 400;
}

.portada-lista{
  margin: 2rem 0;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  border: 1px solid #07070777;
  box-shadow: 2px 2px 2px #07070777;
  border-radius: 15px;
}

.img-info{
  width: 30%;
}

#img-lista-info{
  background: url('/images/list-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  opacity: .9;
}

#img-mapa-info{
  background: url('/images/mapa-icon.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .9;
}

.lista-info{
  width: 60%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-titulo{
  margin: 1rem 0;
  font-size: 20px;
}

.lista-ul{
  margin: 1rem;
  line-height: 1.4;
}

.boton-lista{
  width: 10rem;
  padding: 1.2rem 1rem;
  background-color: #c9e5fa;
  text-align: center;
  color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgb(148, 148, 148);
  cursor: pointer;
}
.boton-lista:hover{
  transform: scale(1.05);
    transition: .2s;
}

@media only screen and (max-width: 768px){

  #img-cabecera{
    justify-content: center;
  }

  #cont-poema{
    margin-left: 0;    
    margin-top: 12rem;
  }

  #portada-contenido{
    width: 90%;
    margin: 1rem;
  }

  
  #titulo-portada, #subtitulo-portada{
    text-align: center;
  }

  .portada-lista{
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .img-info{
    width: 80%;
        
  }
  #img-lista-info{
    height: 200px;
    background-size: contain;
  }
  #img-mapa-info{
    height: 200px;
    background-size: contain;
  }

  .lista-info{
    width: 90%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #portada-contenido{
    width: 90%;
  }
}